header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(141, 158, 173);
  padding: 15px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 0 10px;
}
