.buscarPeliculas {
  padding: 120px;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.buscar_titulo {
  font-size: 60px;
}

.buscar_input,
.buscar_boton {
  padding: 15px;
  font-size: 22px;
}
