.peliculas_detalles {
  padding: 40px 0;
  position: relative;
}

.detalles {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  display: flex;
  padding: 60px 0;
  text-align: center;
  gap: 15px;
}

.fondoOscuro {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.837);
}
.fondo {
  height: 50vh;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.693);
  background-position: center;
  background-size: cover;
}
