* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(43, 43, 43);
  color: #fff;
}

.peliculas {
  max-width: 1200px;
  background-color: rgb(53, 53, 53);
  margin: 30px auto;
  padding: 10px;
}

.titulo {
  font-size: 38px;
  padding: 10px 0;
}

.peliculas h2 {
  padding: 10px 0;
}

.peliculas_lista {
  padding: 0 10px;
  width: 100%;
}

.contenedor {
  display: flex;
}

.filtros {
  width: 20%;
  background-color: rgb(77, 77, 77);
  padding: 30px 10px;
}

.peliculas ul {
  list-style: none;
}
